:root{
    /* Primary Colours */
    --accent-clr: hsl(7, 99%, 70%);
    --button-bg: hsl(51, 100%, 49%);
    --primary-clr-graphic: hsl(167, 40%, 24%);
    --primary-clr-photography: hsl(198, 62%, 26%);
    --primary-clr-footer: hsl(168, 34%, 41%); 
    --primary-footer-bg-clr: #90d4c5;

    /* Neutral colours */
    --neutral-clr-900: hsl(212, 27%, 19%);
    --neutral-clr-600: hsl(213, 9%, 39%);
    --neutral-clr-400: hsl(232, 10%, 55%);
    --neutral-clr-200: hsl(210, 4%, 67%);
    --neutral-clr-light: hsl(0, 0%, 100%);

    /* Fonts */

    --family-1: 'Barlow', sans-serif;
    --family-2: 'Fraunces', serif;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    font-size: 18px;
    min-height: 100%;
    font-family: var(--family-1);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*****************************
Media Query for Large Screens
******************************/

@media only screen and (min-width: 375px){

    /*header*/

    header{
        background: url(./images/desktop/image-header.jpg) center center/cover no-repeat;
        height: 600px;
        width: 100%;
    }

    /*navigation*/

    .hamburger{
        display: none;
    }

    .nav-container{
        padding: 40px 25px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
    }

    .menu-items{
        color: var(--neutral-clr-light);
        margin: 0 1rem;
        font-size: 0.8rem;
        font-weight: 900;
    }

    /*Contact button*/

    .contactBtn{
        color: var(--neutral-clr-900);
        background-color: var(--neutral-clr-light);
        padding: 13px 20px;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 900;
        font-family: var(--family-2);
    }

    .contactBtn:hover{
        background-color: var(--button-bg);
        text-transform: uppercase;
        font-weight: 900;
        font-family: var(--family-2);
    }

    /*header text*/

    h1{
        margin: 50px 0 20px;
        line-height: 1;
        letter-spacing: 0.5rem;
        font-family: var(--family-2);
        text-transform: uppercase;
        color: var(--neutral-clr-light);
        text-align: center;
        font-weight: 900;
        font-size: 2.2rem;
        padding-top: 3%;
    }

    /*arrow*/

    .arrow{
        text-align: center;
        padding-top: 2%;
    }

    .arrow img{
        display: inline-block;
    }


    /*services section*/

    main{
        display: block;
    }

    .services-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /*fr - fration*/
        grid-template-rows: repeat(3, 1fr);
    }

    #services{
        text-align: center;
    }

    #services img{
        width: 100%;
        max-width: 500px;
        display: block;
    }

    .services-text{
        padding: 20%;
    }

    .services-text h2{
        font-family: var(--family-2);
        font-weight: 900;
        font-size: 1.4rem;
    }

    .services-text p{
        margin: 30px 0;
        color: var(--neutral-clr-600);
        font-size: 0.68rem;
        line-height: 1.2rem;
        text-align: left;
    }

    .services-img1{
        background-image: url("images/desktop/image-transform.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    
    .services-img2{
        background-image: url("images/desktop/image-stand-out.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /*Learn more button*/

    .learn-more-btn1{
        color: black;
        text-transform: uppercase;
        font-family: var(--family-2);
        position: relative;
    }

    .learn-more-btn1::after{
        content: '';
        width: 138px;
        height: 8px;
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: -1;
        background-color: var(--button-bg);
    }

    .learn-more-btn2{
        color: black;
        text-transform: uppercase;
        font-family: var(--family-2);
        position: relative;
    }

    .learn-more-btn2::after{
        content: '';
        width: 138px;
        height: 8px;
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: -1;
        background-color: var(--accent-clr);
    }

    /*offers*/

    .offer-text1{
        margin: 0 auto;
        max-width: 40%;
        text-align: center;
        padding-top: 40%;
        color: var(--primary-clr-graphic);
        font-family: var(--family-2);
    }

    .offer-text2{
        margin: 0 auto;
        max-width: 40%;
        text-align: center;
        padding-top: 40%;
        color: var(--primary-clr-photography);
        font-family: var(--family-2);
    }

    .offer-container1{
        background-image: url("images/desktop/image-graphic-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .offer-container2{
        background-image: url("images/desktop/image-photography.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    /*testimonials*/

    #testimonial{
        margin: 10%;
    }

    .testimonial-header{
        text-align: center;
        margin-top: 10%;
    }

    .testimonial-header h3{
        font-family: var(--family-2);
        font-weight: 700;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--neutral-clr-400);
    }

    .testimonial-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        margin: 0 10%;
    }

    .testimonial{
        position: relative;
        margin: 5% 0;
        text-align: center;
        justify-content: center;
    }

    .testimonial-img{
        background: no-repeat center/cover;
        top: 5%;
        width: 100%;
        height: 50px;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .test-img{
        border-radius: 50%;
    }

    .testimonial p{
        font-size: 0.55rem;
        line-height: 1.2rem;
        text-align: center;
        justify-content: center;
        margin-top: 40%;
    }
    
    .testimonial-text {
        columns: var(--neutral-clr-600);
    }
    
    .client h3 {
        font-size: 0.8rem;
        font-weight: 700;
        font-family: var(--family-2);
        margin-top: 10%;
        margin-bottom: 2%;
    }
    
    .client-role {
        color: var(--neutral-clr-200);
        font-size: 0.7rem;
    }

    /*gallery*/

    .gallery-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery-img1{
        background-image: url("images/desktop/image-gallery-milkbottles.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .gallery-img2{
        background-image: url("images/desktop/image-gallery-orange.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .gallery-img3{
        background-image: url("images/desktop/image-gallery-cone.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .gallery-img4{
        background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /*footer*/

    .footer{
        background-color: var(--primary-footer-bg-clr);
        color: var(--primary-clr-footer);
    }

    .footer-container a{
        margin: 0 2px;
    }

    .footer-logo{
        font-family: var(--family-2);
        font-weight: 900;
        font-size: 1.6rem;
        padding: 3%;
        text-align: center;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        margin: 0 auto;
    }

    .footer-links{
        max-width: 22%;
        padding: 2%;
        text-align: center;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        margin: 0 auto;
    }

    .footer-links a{
        font-family: var(--family-2);
        color: var(--primary-clr-footer);
    }

    .footer-links a:hover,
    .footer-links a:focus{
        color: var(--neutral-clr-light);
    }

    .social-links{
        padding: 3%;
        max-width: 20%;
        text-align: center;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        margin: 0 auto;
    }

    .social-links a{
        color: var(--primary-clr-footer);
    }

    .social-links a:hover,
    .social-links a:focus{
        color: var(--neutral-clr-light);
    }

    .attribution { 
        font-size: 11px; 
        background-color: var(--neutral-clr-light);
        text-align: center;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}

/*****************************
Media Query for small Screens
******************************/

@media only screen and (max-width: 900px){

    /*header*/

    header{
        background: url(./images/mobile/image-header.jpg) center center/cover no-repeat;
        height: 600px;
        background-position: 50%;
        background-size: 100% 100%;
    }

    /*navigation*/

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .bar{
        display: block;
        width: 25px;
        height: 2px;
        margin: 6px auto;
        background-color: var(--neutral-clr-light);
    }

    .nav-container{
        padding: 40px 25px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        top: -100%;
        position: fixed;
        flex-direction: column;
        background-color: var(--neutral-clr-light);
        width: calc(100% - 50px);
    }

    .menu.active{
        top: 10%;
        position: fixed;
        flex-direction: column;
        background-color: var(--neutral-clr-light);
        width: calc(100% - 50px);
    }

    .menu:before{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        top: -25px;
        border-bottom: 1.5rem solid var(--neutral-clr-light);
        border-left: 1.5rem solid transparent;
    }

    .menu-items{
        padding: 13px 20px;
        margin: 1rem 0;
        font-weight: 900;
        color: var(--neutral-clr-400);
    }


    /*Contact button*/

    .contactBtn{
        color: var(--neutral-clr-900);
        background-color: var(--button-bg);
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: var(--family-2);
    }

    .contactBtn:hover{
        background-color: var(--button-bg);
        text-transform: uppercase;
        font-weight: bold;
        font-family: var(--family-2);
    }

    /*header text*/

    h1{
        letter-spacing: 0.5rem;
        font-family: var(--family-2);
        text-transform: uppercase;
        color: var(--neutral-clr-light);
        text-align: center;
        font-weight: 900;
        font-size: 2.2rem;
        padding-top: 3%;
    }

    /*arrow*/

    .arrow{
        text-align: center;
        padding-top: 2%;
    }

    .arrow img{
        display: inline-block;
    }


    /*services section*/

    main{
        display: block;
    }

    .services-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /*fr - fration*/
        grid-template-rows: repeat(6, 1fr);
    }

    #services{
        text-align: center;
    }

    #services img{
        width: 100%;
        max-width: 500px;
        display: block;
    }

    .services-text{
        padding: 20%;
    }

    .services-text h2{
        font-family: var(--family-2);
        font-weight: 900;
        font-size: 1.4rem;
    }

    .services-text p{
        margin: 30px 0;
        color: var(--neutral-clr-600);
        font-size: 0.68rem;
        line-height: 1.2rem;
        text-align: left;
    }

    .services-img1{
        background-image: url("images/desktop/image-transform.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    
    .services-img2{
        background-image: url("images/desktop/image-stand-out.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /*Learn more button*/

    .learn-more-btn1{
        color: black;
        text-transform: uppercase;
        font-family: var(--family-2);
        position: relative;
    }

    .learn-more-btn1::after{
        content: '';
        width: 138px;
        height: 8px;
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: -1;
        background-color: var(--button-bg);
    }

    .learn-more-btn2{
        color: black;
        text-transform: uppercase;
        font-family: var(--family-2);
        position: relative;
    }

    .learn-more-btn2::after{
        content: '';
        width: 138px;
        height: 8px;
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: -1;
        background-color: var(--accent-clr);
    }

    /*offers*/

    .offer-text1{
        margin: 0 auto;
        max-width: 40%;
        text-align: center;
        padding-top: 40%;
        color: var(--primary-clr-graphic);
        font-family: var(--family-2);
    }

    .offer-text2{
        margin: 0 auto;
        max-width: 40%;
        text-align: center;
        padding-top: 40%;
        color: var(--primary-clr-photography);
        font-family: var(--family-2);
    }

    .offer-container1{
        background-image: url("images/desktop/image-graphic-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .offer-container2{
        background-image: url("images/desktop/image-photography.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    /*testimonials*/

    #testimonial{
        margin: 10%;
    }

    .testimonial-header{
        text-align: center;
        margin-top: 10%;
    }

    .testimonial-header h3{
        font-family: var(--family-2);
        font-weight: 700;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--neutral-clr-400);
    }

    .testimonial-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5%;
        margin: 0 10%;
    }

    .testimonial{
        position: relative;
        margin: 0;
        text-align: center;
        justify-content: center;
    }

    .testimonial-img{
        background: no-repeat center/cover;
        top: 5%;
        width: 100%;
        height: 50px;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .test-img{
        border-radius: 50%;
    }
    
    .testimonial p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        justify-content: center;
        margin-top: 15%;
    }

    .testimonial-text {
        columns: var(--neutral-clr-600);
    }
    
    .client h3 {
        font-size: 1rem;
        font-weight: 700;
        font-family: var(--family-2);
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .client-role {
        color: var(--neutral-clr-200);
        font-size: 0.8rem;
    }

    /*gallery*/

    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery-img1{
        background-image: url("images/desktop/image-gallery-milkbottles.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .gallery-img2{
        background-image: url("images/desktop/image-gallery-orange.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .gallery-img3{
        background-image: url("images/desktop/image-gallery-cone.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .gallery-img4{
        background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

 /*footer*/

 .footer{
    background-color: var(--primary-footer-bg-clr);
    color: var(--primary-clr-footer);
}

.footer-container a{
    margin: 0 2px;
}

.footer-logo{
    font-family: var(--family-2);
    font-weight: 900;
    font-size: 1.6rem;
    padding: 5%;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 0 auto;
}

.footer-links{
    max-width: 70%;
    padding: 2%;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 0 auto;
}

.footer-links a{
    font-family: var(--family-2);
    color: var(--primary-clr-footer);
}

.footer-links a:hover,
.footer-links a:focus{
    color: var(--neutral-clr-light);
}

.social-links{
    padding: 5%;
    max-width: 40%;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 0 auto;
}

.social-links a{
    color: var(--primary-clr-footer);
}

.social-links a:hover,
.social-links a:focus{
    color: var(--neutral-clr-light);
}

.attribution { 
    font-size: 11px; 
    background-color: var(--neutral-clr-light);
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

}